

#email::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

#email:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

#email::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

#email{
	height: 35px;
  width: 260px;
  background: transparent;
  color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    background-color: transparent !important;
    -webkit-text-fill-color: black !important;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
}



.upper-text{
	text-transform: uppercase;
}

.text-center{
	text-align: center;
}

.alert-light {
    color: white;
    background-color: transparent;
    border-color: #fdfdfe;
}
.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

/*landing page brand heading*/
@media (min-width: 768px){
  .masthead .intro-body .brand-heading {
      font-size: 60px !important; 
  }

  #logo-img {
    width: 250px;
  }
}

@media (max-width: 767px){
    #logo-img {
        width: 100px;
    }
}

/*===*/

/*Parallex style*/
.parallax {
    /*background-image: url(../img/downloads-bg.jpg);*/
    /*background: url(../img/downloads-bg.jpg) ;*/
    /*height: 50%; */

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*==*/

/*grayscale style*/
/*.grayscale:before {
    content: "";
    display: block;
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0.5;
    z-index: 1;
}*/

/*.container{
-webkit-backdrop-filter: blur(5px);
backdrop-filter: blur(5px);
}*/
#logo-img-loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#loading{
    background-color: #484b50;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999;
    margin-top: 0px;
    top: 0px;
}
#loading-center{
    width: 100%;
    height: 100%;
    position: relative;
    }
#loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%,-65%);
    height: 50px;
    text-align: center;
/*    margin-top: -25px;
    margin-left: -75px;*/

}
.object{
    width: 8px;
    height: 50px;
    margin-right:5px;
    background-color: #FFF;
    -webkit-animation: animate 1s infinite;
    animation: animate 1s infinite;
    float: left;
}

.object:last-child {
    margin-right: 0px;
    }
.object:nth-child(11){
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;  
    }
.object:nth-child(10){
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;  
    }
.object:nth-child(9){
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;  
    }   
.object:nth-child(8){
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;  
    }
.object:nth-child(7){
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;  
    }
.object:nth-child(6){
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;  
    }
.object:nth-child(5){
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    }
.object:nth-child(4){
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;      
    }
.object:nth-child(3){
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;  
    }
.object:nth-child(2){
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
    }                       
    


@-webkit-keyframes animate {
  50% {
    -ms-transform: scaleY(0); 
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
      }
}

@keyframes animate {
  50% {
    -ms-transform: scaleY(0); 
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
      }
}

.brand-heading {
    text-shadow: 6px 9px 4px #000000;
}